# [dbBase]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [dbBase]    Script Date: 29.05.2021 20:47:25 ******/
CREATE DATABASE [dbBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [dbBase] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [dbBase] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [dbBase] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [dbBase] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [dbBase] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [dbBase] SET ARITHABORT OFF 
GO
ALTER DATABASE [dbBase] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [dbBase] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [dbBase] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [dbBase] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [dbBase] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [dbBase] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [dbBase] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [dbBase] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [dbBase] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [dbBase] SET  DISABLE_BROKER 
GO
ALTER DATABASE [dbBase] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [dbBase] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [dbBase] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [dbBase] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [dbBase] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [dbBase] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [dbBase] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [dbBase] SET RECOVERY FULL 
GO
ALTER DATABASE [dbBase] SET  MULTI_USER 
GO
ALTER DATABASE [dbBase] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [dbBase] SET DB_CHAINING OFF 
GO
ALTER DATABASE [dbBase] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [dbBase] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [dbBase] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [dbBase] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'dbBase', N'ON'
GO
ALTER DATABASE [dbBase] SET QUERY_STORE = OFF
GO

# [dbo].[Client]

In [0]:
USE [dbBase]
GO

In [0]:
/****** Object:  Table [dbo].[Client]    Script Date: 29.05.2021 20:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[GenderCode] [nchar](1) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](500) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[DateRegister] [date] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ClientService]

In [0]:
/****** Object:  Table [dbo].[ClientService]    Script Date: 29.05.2021 20:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientService](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[StartTime] [smalldatetime] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_ClientService] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Gender]

In [0]:
/****** Object:  Table [dbo].[Gender]    Script Date: 29.05.2021 20:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [nchar](1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Service]

In [0]:
/****** Object:  Table [dbo].[Service]    Script Date: 29.05.2021 20:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[TimeSec] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Discon] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Client]

In [0]:
SET IDENTITY_INSERT [dbo].[Client] ON 
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (2, N'Ермакова', N'Алла', N'Мироновна', N'ж', N'7(06)437-13-73 ', N'Клиенты\48.jpg', CAST(N'1976-01-22' AS Date), N'whimsy@aol.com', CAST(N'2017-02-09' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (3, N'Селиверстов', N'Глеб', N'Максимович', N'м', N'7(20)554-28-68 ', N'Клиенты\m37.jpg', CAST(N'1999-06-20' AS Date), N'jigsaw@sbcglobal.net', CAST(N'2016-01-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (4, N'Агафонов', N'Юстиниан', N'Олегович', N'м', N'7(303)810-28-78 ', N'Клиенты\m1.jpg', CAST(N'1997-02-02' AS Date), N'staffelb@sbcglobal.net', CAST(N'2016-06-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (5, N'Колобова', N'Злата', N'Романовна', N'ж', N'7(50)884-07-35 ', N'Клиенты\18.jpg', CAST(N'1994-08-25' AS Date), N'sinkou@aol.com', CAST(N'2016-12-03' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (6, N'Сысоева', N'Дарина', N'Ярославовна', N'ж', N'7(0698)387-96-04 ', N'Клиенты\32.jpg', CAST(N'1982-02-03' AS Date), N'treit@verizon.net', CAST(N'2016-05-13' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (7, N'Некрасов', N'Варлам', N'Михайлович', N'м', N'7(019)258-06-35 ', N'Клиенты\m42.jpg', CAST(N'2000-11-12' AS Date), N'dogdude@verizon.net', CAST(N'2017-12-03' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (8, N'Крюков', N'Наум', N'Ильяович', N'м', N'7(81)657-88-92 ', N'Клиенты\m30.jpg', CAST(N'1993-11-17' AS Date), N'floxy@hotmail.com', CAST(N'2017-02-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (9, N'Сидорова', N'Татьяна', N'Михайловна', N'ж', N'7(51)732-91-79 ', N'Клиенты\42.jpg', CAST(N'1974-04-24' AS Date), N'tbeck@mac.com', CAST(N'2018-10-03' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (10, N'Трофимова', N'Альжбета', N'Якововна', N'ж', N'7(1084)658-92-95 ', N'Клиенты\25.jpg', CAST(N'1988-10-22' AS Date), N'gbacon@mac.com', CAST(N'2017-09-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (11, N'Новиков', N'Адриан', N'Аркадьевич', N'м', N'7(70)572-33-62 ', N'Клиенты\m40.jpg', CAST(N'1974-01-15' AS Date), N'multiplx@verizon.net', CAST(N'2018-11-23' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (12, N'Мишина', N'Иветта', N'Андреевна', N'ж', N'7(3926)244-81-96 ', N'Клиенты\30.jpg', CAST(N'2002-10-05' AS Date), N'aukjan@yahoo.com', CAST(N'2016-01-24' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (13, N'Шестаков', N'Геннадий', N'Рубенович', N'м', N'7(2066)037-11-60 ', N'Клиенты\m41.jpg', CAST(N'2001-07-01' AS Date), N'tokuhirom@live.com', CAST(N'2018-12-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (14, N'Зуев', N'Матвей', N'Иванович', N'м', N'7(5383)893-04-66 ', N'Клиенты\m38.jpg', CAST(N'1981-03-28' AS Date), N'brickbat@verizon.net', CAST(N'2018-12-18' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (15, N'Турова', N'Георгина', N'Семёновна', N'ж', N'7(555)321-42-99 ', N'Клиенты\27.jpg', CAST(N'1974-05-28' AS Date), N'yruan@optonline.net', CAST(N'2018-02-22' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (16, N'Анисимов', N'Валентин', N'Пантелеймонович', N'м', N'7(700)326-70-24 ', N'Клиенты\m99.jpg', CAST(N'2000-12-10' AS Date), N'aaribaud@hotmail.com', CAST(N'2018-01-20' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (17, N'Анисимова', N'Тамара', N'Витальевна', N'ж', N'7(66)128-04-10 ', N'Клиенты\2.jpg', CAST(N'1988-06-16' AS Date), N'schwaang@mac.com', CAST(N'2016-02-25' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (18, N'Колобов', N'Орест', N'Юлианович', N'м', N'7(1680)508-58-26 ', N'Клиенты\m27.jpg', CAST(N'2001-07-14' AS Date), N'parkes@verizon.net', CAST(N'2017-01-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (19, N'Филатов', N'Аристарх', N'Дмитриевич', N'м', N'7(696)235-29-24 ', N'Клиенты\m43.jpg', CAST(N'1989-05-29' AS Date), N'hampton@att.net', CAST(N'2017-01-11' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (20, N'Орлова', N'Влада', N'Мартыновна', N'ж', N'7(2506)433-38-35 ', N'Клиенты\22.jpg', CAST(N'1990-06-26' AS Date), N'rnelson@yahoo.ca', CAST(N'2016-03-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (21, N'Алексеева', N'Элина', N'Матвеевна', N'ж', N'7(8086)245-64-81 ', N'Клиенты\1.jpg', CAST(N'2002-05-07' AS Date), N'pthomsen@verizon.net', CAST(N'2018-03-28' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (22, N'Бобров', N'Агафон', N'Лаврентьевич', N'м', N'7(2159)507-39-57 ', N'Клиенты\m35.jpg', CAST(N'1995-07-29' AS Date), N'petersen@comcast.net', CAST(N'2017-05-09' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (23, N'Бирюкова', N'Инара', N'Улебовна', N'ж', N'7(098)346-50-58 ', N'Клиенты\5.jpg', CAST(N'1978-07-21' AS Date), N'smpeters@hotmail.com', CAST(N'2017-10-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (24, N'Панфилов', N'Марк', N'Рудольфович', N'м', N'7(764)282-55-22 ', N'Клиенты\m45.jpg', CAST(N'1991-04-13' AS Date), N'cremonini@optonline.net', CAST(N'2016-02-23' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (25, N'Колесникова', N'Алина', N'Еремеевна', N'ж', N'7(74)977-39-71 ', N'Клиенты\40.jpg', CAST(N'2001-04-19' AS Date), N'gfxguy@outlook.com', CAST(N'2017-01-18' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (26, N'Морозов', N'Наум', N'Валерьянович', N'м', N'7(636)050-96-13 ', N'Клиенты\m49.jpg', CAST(N'1985-07-04' AS Date), N'salesgeek@mac.com', CAST(N'2016-05-02' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (27, N'Горбачёв', N'Давид', N'Тимурович', N'м', N'7(53)602-85-41 ', N'Клиенты\m36.jpg', CAST(N'1983-05-22' AS Date), N'hedwig@att.net', CAST(N'2018-12-17' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (28, N'Васильев', N'Оскар', N'Богданович', N'м', N'7(585)801-94-29 ', N'Клиенты\m15.jpg', CAST(N'1971-01-30' AS Date), N'miturria@verizon.net', CAST(N'2017-05-28' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (29, N'Ершова', N'Номи', N'Андреевна', N'ж', N'7(7757)315-90-99 ', N'Клиенты\14.jpg', CAST(N'2001-09-13' AS Date), N'miltchev@mac.com', CAST(N'2016-06-30' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (30, N'Медведев', N'Святослав', N'Юлианович', N'м', N'7(3520)435-21-20 ', N'Клиенты\m13.jpg', CAST(N'1972-10-04' AS Date), N'hllam@comcast.net', CAST(N'2018-10-13' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (31, N'Баранова', N'Эльмира', N'Дмитриевна', N'ж', N'7(9240)643-15-50 ', N'Клиенты\4.jpg', CAST(N'1977-01-15' AS Date), N'jgmyers@comcast.net', CAST(N'2016-07-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (32, N'Попова', N'Харита', N'Якуновна', N'ж', N'7(335)386-81-06 ', N'Клиенты\36.jpg', CAST(N'1997-12-16' AS Date), N'firstpr@verizon.net', CAST(N'2016-07-05' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (33, N'Кудряшов', N'Аверкий', N'Константинович', N'м', N'7(88)732-96-30 ', N'Клиенты\m33.jpg', CAST(N'1991-07-26' AS Date), N'nanop@msn.com', CAST(N'2018-03-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (34, N'Горшкова', N'Марта', N'Иосифовна', N'ж', N'7(544)650-59-03', N'Клиенты\9.jpg', CAST(N'2001-02-13' AS Date), N'gbacon@mac.com', CAST(N'2016-08-04' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (35, N'Кудрявцев', N'Богдан', N'Христофорович', N'м', N'7(20)131-84-09 ', N'Клиенты\m31.jpg', CAST(N'1988-02-27' AS Date), N'lukka@hotmail.com', CAST(N'2016-10-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (36, N'Гусев', N'Яков', N'Авксентьевич', N'м', N'7(0972)781-11-37 ', N'Клиенты\m20.jpg', CAST(N'1995-12-10' AS Date), N'jdhedden@icloud.com', CAST(N'2017-11-20' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (37, N'Крюкова', N'Авигея', N'Святославовна', N'ж', N'7(499)318-88-53 ', N'Клиенты\19.jpg', CAST(N'2000-08-10' AS Date), N'simone@gmail.com', CAST(N'2018-01-03' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (38, N'Степанова', N'Амелия', N'Робертовна', N'ж', N'7(1217)441-28-42 ', N'Клиенты\15.jpg', CAST(N'1970-06-06' AS Date), N'rasca@hotmail.com', CAST(N'2017-09-27' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (39, N'Суворова', N'Божена', N'Анатольевна', N'ж', N'7(347)895-86-57 ', N'Клиенты\34.jpg', CAST(N'1981-03-09' AS Date), N'attwood@aol.com', CAST(N'2016-01-28' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (40, N'Борисов', N'Аввакум', N'Артемович', N'м', N'7(2296)930-08-88 ', N'Клиенты\m12.jpg', CAST(N'1974-04-25' AS Date), N'chlim@live.com', CAST(N'2017-03-11' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (41, N'Бобылёв', N'Георгий', N'Витальевич', N'м', N'7(88)685-13-51 ', N'Клиенты\m11.jpg', CAST(N'1983-12-19' AS Date), N'csilvers@mac.com', CAST(N'2018-04-06' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (42, N'Дроздов', N'Вольдемар', N'Артемович', N'м', N'7(307)456-99-05 ', N'Клиенты\m21.jpg', CAST(N'1976-02-07' AS Date), N'smpeters@me.com', CAST(N'2017-07-18' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (43, N'Беляева', N'Сабрина', N'Федосеевна', N'ж', N'7(6580)534-32-58 ', N'Клиенты\47.jpg', CAST(N'1972-07-26' AS Date), N'agapow@gmail.com', CAST(N'2017-06-14' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (44, N'Блохин', N'Пантелеймон', N'Феликсович', N'м', N'7(9524)556-48-98 ', N'Клиенты\m8.jpg', CAST(N'1978-03-06' AS Date), N'balchen@comcast.net', CAST(N'2018-02-14' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (45, N'Шашкова', N'Гелла', N'Эдуардовна', N'ж', N'7(57)446-21-04 ', N'Клиенты\43.jpg', CAST(N'1979-02-24' AS Date), N'jadavis@mac.com', CAST(N'2016-11-16' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (46, N'Калашников', N'Артур', N'Юрьевич', N'м', N'7(147)947-47-21 ', N'Клиенты\m10.jpg', CAST(N'1972-12-13' AS Date), N'oevans@aol.com', CAST(N'2017-08-20' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (47, N'Корнилова', N'Анэля', N'Михайловна', N'ж', N'7(20)980-01-60 ', N'Клиенты\26.jpg', CAST(N'1973-04-02' AS Date), N'jonathan@aol.com', CAST(N'2016-05-22' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (48, N'Гущина', N'Янита', N'Федоровна', N'ж', N'7(4544)716-68-96 ', N'Клиенты\11.jpg', CAST(N'1999-03-02' AS Date), N'lishoy@att.net', CAST(N'2018-02-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (49, N'Волков', N'Людвиг', N'Витальевич', N'м', N'7(8459)592-05-58 ', N'Клиенты\m50.jpg', CAST(N'1977-12-27' AS Date), N'jrkorson@msn.com', CAST(N'2016-04-27' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (50, N'Князев', N'Терентий', N'Валерьевич', N'м', N'7(98)397-23-23 ', N'Клиенты\m26.jpg', CAST(N'1991-06-19' AS Date), N'rjones@aol.com', CAST(N'2018-06-25' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (51, N'Силин', N'Гаянэ', N'Анатольевич', N'м', N'7(4547)615-22-69 ', N'Клиенты\m46.jpg', CAST(N'1976-05-27' AS Date), N'multiplx@comcast.net', CAST(N'2017-05-05' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (52, N'Казаков', N'Дмитрий', N'Русланович', N'м', N'7(51)682-19-40 ', N'Клиенты\m44.jpg', CAST(N'1978-12-15' AS Date), N'ozawa@verizon.net', CAST(N'2016-05-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (53, N'Гусева', N'Роза', N'Дмитриевна', N'ж', N'7(23)064-51-84 ', N'Клиенты\10.jpg', CAST(N'1999-02-13' AS Date), N'martyloo@live.com', CAST(N'2017-12-12' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (54, N'Мамонтова', N'Марфа', N'Мироновна', N'ж', N'7(38)095-64-18 ', N'Клиенты\29.jpg', CAST(N'1984-10-19' AS Date), N'rfoley@verizon.net', CAST(N'2018-02-27' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (55, N'Галкин', N'Эрик', N'Онисимович', N'м', N'7(759)873-77-39 ', N'Клиенты\m16.jpg', CAST(N'1975-01-18' AS Date), N'snunez@verizon.net', CAST(N'2016-07-19' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (56, N'Архипова', N'Прасковья', N'Валерьевна', N'ж', N'7(86)540-10-21 ', N'Клиенты\33.jpg', CAST(N'1979-01-09' AS Date), N'cgcra@live.com', CAST(N'2018-07-23' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (57, N'Овчинникова', N'Лаура', N'Еремеевна', N'ж', N'7(85)829-33-79 ', N'Клиенты\35.jpg', CAST(N'1992-04-03' AS Date), N'carcus@yahoo.ca', CAST(N'2018-11-24' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (58, N'Андреева', N'Патрисия', N'Валерьевна', N'ж', N'7(9648)953-81-26 ', N'Клиенты\37.jpg', CAST(N'1993-11-18' AS Date), N'jigsaw@aol.com', CAST(N'2016-07-17' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (59, N'Авдеев', N'Самуил', N'Улебович', N'м', N'7(3168)043-63-31 ', N'Клиенты\m96.jpg', CAST(N'1996-07-04' AS Date), N'cliffordj@mac.com', CAST(N'2016-02-11' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (60, N'Бурова', N'Светлана', N'Лукьевна', N'ж', N'7(358)173-82-21 ', N'Клиенты\39.jpg', CAST(N'1979-01-04' AS Date), N'wsnyder@aol.com', CAST(N'2016-10-13' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (61, N'Ершов', N'Глеб', N'Федорович', N'м', N'7(2608)298-40-82 ', N'Клиенты\m23.jpg', CAST(N'1970-06-14' AS Date), N'sjava@aol.com', CAST(N'2016-09-14' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (62, N'Игнатов', N'Захар', N'Павлович', N'м', N'7(578)574-73-36 ', N'Клиенты\m98.jpg', CAST(N'1998-10-07' AS Date), N'dieman@icloud.com', CAST(N'2017-11-10' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (63, N'Комиссарова', N'Амалия', N'Робертовна', N'ж', N'7(22)647-46-32 ', N'Клиенты\17.jpg', CAST(N'1971-08-18' AS Date), N'jorgb@msn.com', CAST(N'2017-08-04' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (64, N'Быков', N'Трофим', N'Константинович', N'м', N'7(3414)460-12-05 ', N'Клиенты\m14.jpg', CAST(N'1994-12-20' AS Date), N'jguyer@aol.com', CAST(N'2016-04-17' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (65, N'Кузьмин', N'Леонтий', N'Валерьянович', N'м', N'7(1340)148-90-68 ', N'Клиенты\m17.jpg', CAST(N'2000-05-05' AS Date), N'msloan@hotmail.com', CAST(N'2017-10-12' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (66, N'Белозёрова', N'Диана', N'Антоновна', N'ж', N'7(9900)174-59-87 ', N'Клиенты\7.jpg', CAST(N'1989-02-27' AS Date), N'dialworld@aol.com', CAST(N'2017-01-30' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (67, N'Блинов', N'Евгений', N'Мэлсович', N'м', N'7(0852)321-82-64 ', N'Клиенты\m7.jpg', CAST(N'1994-01-05' AS Date), N'moxfulder@outlook.com', CAST(N'2017-05-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (68, N'Лазарев', N'Алексей', N'Богданович', N'м', N'7(0055)737-37-48 ', N'Клиенты\m48.jpg', CAST(N'1977-03-10' AS Date), N'claesjac@me.com', CAST(N'2017-01-02' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (69, N'Афанасьева', N'Розалия', N'Макаровна', N'ж', N'7(0661)413-23-32 ', N'Клиенты\31.jpg', CAST(N'1977-05-01' AS Date), N'malattia@hotmail.com', CAST(N'2017-09-06' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (70, N'Дементьева', N'Эдита', N'Онисимовна', N'ж', N'7(198)922-28-76 ', N'Клиенты\38.jpg', CAST(N'1975-09-17' AS Date), N'frosal@hotmail.com', CAST(N'2018-11-24' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (71, N'Калинин', N'Петр', N'Иванович', N'м', N'7(90)316-07-17 ', N'Клиенты\m47.jpg', CAST(N'1993-09-08' AS Date), N'aschmitz@hotmail.com', CAST(N'2016-05-26' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (72, N'Андреев', N'Станислав', N'Максович', N'м', N'7(02)993-91-28 ', N'Клиенты\m3.jpg', CAST(N'1975-10-10' AS Date), N'budinger@mac.com', CAST(N'2017-12-26' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (73, N'Киселёв', N'Устин', N'Яковлевич', N'м', N'7(83)334-52-76 ', N'Клиенты\m25.jpg', CAST(N'1985-01-08' AS Date), N'dalamb@verizon.net', CAST(N'2018-06-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (74, N'Гордеев', N'Павел', N'Семенович', N'м', N'7(5243)599-66-72 ', N'Клиенты\m19.jpg', CAST(N'1984-09-06' AS Date), N'dawnsong@verizon.net', CAST(N'2016-07-19' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (75, N'Горбачёва', N'Никки', N'Еремеевна', N'ж', N'7(94)789-69-20 ', N'Клиенты\8.jpg', CAST(N'1987-04-21' AS Date), N'chinthaka@att.net', CAST(N'2018-08-16' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (76, N'Копылов', N'Касьян', N'Робертович', N'м', N'7(5774)679-82-06 ', N'Клиенты\m29.jpg', CAST(N'1983-08-04' AS Date), N'crobles@sbcglobal.net', CAST(N'2018-03-18' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (77, N'Ефремов', N'Витольд', N'Авксентьевич', N'м', N'7(93)922-14-03 ', N'Клиенты\m28.jpg', CAST(N'1975-12-02' AS Date), N'kwilliams@yahoo.ca', CAST(N'2018-04-09' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (78, N'Баранов', N'Михаил', N'Романович', N'м', N'7(750)985-94-13 ', N'Клиенты\m5.jpg', CAST(N'1997-07-12' AS Date), N'bigmauler@outlook.com', CAST(N'2018-10-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (79, N'Дмитриева', N'Элина', N'Даниловна', N'ж', N'7(787)140-48-84 ', N'Клиенты\12.jpg', CAST(N'1988-12-10' AS Date), N'vmalik@live.com', CAST(N'2017-02-11' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (80, N'Федотов', N'Осип', N'Анатольевич', N'м', N'7(590)702-33-06 ', N'Клиенты\m9.jpg', CAST(N'1971-04-13' AS Date), N'breegster@hotmail.com', CAST(N'2018-07-23' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (81, N'Быкова', N'Тала', N'Георгьевна', N'ж', N'7(13)915-53-53 ', N'Клиенты\6.jpg', CAST(N'2000-02-22' AS Date), N'ganter@optonline.net', CAST(N'2016-08-13' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (82, N'Дементьев', N'Вадим', N'Ростиславович', N'м', N'7(79)330-46-15 ', N'Клиенты\m39.jpg', CAST(N'1993-07-10' AS Date), N'jacks@aol.com', CAST(N'2018-03-05' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (83, N'Евсеев', N'Макар', N'Васильевич', N'м', N'7(2141)077-85-70 ', N'Клиенты\m22.jpg', CAST(N'1977-09-13' AS Date), N'parsimony@sbcglobal.net', CAST(N'2018-12-05' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (84, N'Абрамов', N'Станислав', N'Филатович', N'м', N'7(6545)478-87-79 ', N'Клиенты\m32.jpg', CAST(N'1989-05-18' AS Date), N'solomon@att.net', CAST(N'2016-12-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (85, N'Артемьева', N'Лиза', N'Максимовна', N'ж', N'7(696)972-70-21 ', N'Клиенты\3.jpg', CAST(N'1996-05-17' AS Date), N'snunez@yahoo.ca', CAST(N'2018-10-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (86, N'Кузьмина', N'Дэнна', N'Витальевна', N'ж', N'7(9940)977-45-73 ', N'Клиенты\20.jpg', CAST(N'1993-08-24' AS Date), N'nichoj@mac.com', CAST(N'2016-03-27' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (87, N'Ефимова', N'Магда', N'Платоновна', N'ж', N'7(9261)386-15-92 ', N'Клиенты\16.jpg', CAST(N'1995-08-16' AS Date), N'rbarreira@me.com', CAST(N'2017-08-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (88, N'Ефимов', N'Альберт', N'Проклович', N'м', N'7(416)375-97-19 ', N'Клиенты\m6.jpg', CAST(N'1997-10-29' AS Date), N'houle@live.com', CAST(N'2018-06-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (89, N'Лазарева', N'Эльвина', N'Робертовна', N'ж', N'7(5564)609-81-37 ', N'Клиенты\28.jpg', CAST(N'1996-02-16' AS Date), N'ahuillet@comcast.net', CAST(N'2018-04-11' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (90, N'Воронова', N'Изабелла', N'Вячеславовна', N'ж', N'7(17)433-44-98 ', N'Клиенты\21.jpg', CAST(N'1999-09-24' AS Date), N'kildjean@sbcglobal.net', CAST(N'2017-12-21' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (91, N'Куликова', N'Эвелина', N'Вячеславовна', N'ж', N'7(0236)682-42-78 ', N'Клиенты\23.jpg', CAST(N'1997-11-14' AS Date), N'ilikered@hotmail.com', CAST(N'2018-02-01' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (92, N'Егорова', N'Амалия', N'Дамировна', N'ж', N'7(7486)408-12-26 ', N'Клиенты\13.jpg', CAST(N'1999-09-28' AS Date), N'drezet@yahoo.com', CAST(N'2016-06-30' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (93, N'Александров', N'Станислав', N'Эдуардович', N'м', N'7(18)164-05-12 ', N'Клиенты\m2.jpg', CAST(N'1981-07-04' AS Date), N'bigmauler@aol.com', CAST(N'2018-11-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (94, N'Цветков', N'Демьян', N'Львович', N'м', N'7(93)546-43-73 ', N'Клиенты\m4.jpg', CAST(N'1996-03-29' AS Date), N'hauma@icloud.com', CAST(N'2016-02-12' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (95, N'Устинова', N'Юнона', N'Валентиновна', N'ж', N'7(33)367-13-07', N'Клиенты\44.jpg', CAST(N'1982-08-08' AS Date), N'kempsonc@live.com', CAST(N'2017-05-28' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (96, N'Костина', N'Любава', N'Авксентьевна', N'ж', N'7(6419)959-21-87 ', N'Клиенты\41.jpg', CAST(N'1972-07-13' AS Date), N'gordonjcp@hotmail.com', CAST(N'2016-02-26' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (97, N'Смирнов', N'Мартын', N'Арсеньевич', N'м', N'7(6251)589-02-43 ', N'Клиенты\m34.jpg', CAST(N'1996-06-25' AS Date), N'haddawy@live.com', CAST(N'2017-02-07' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (98, N'Федотова', N'Сандра', N'Владленовна', N'ж', N'7(126)195-25-86 ', N'Клиенты\24.jpg', CAST(N'1985-03-29' AS Date), N'penna@verizon.net', CAST(N'2016-11-08' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (99, N'Журавлёв', N'Леонтий', N'Яковлевич', N'м', N'7(4403)308-56-96 ', N'Клиенты\m24.jpg', CAST(N'2000-03-02' AS Date), N'cmdrgravy@me.com', CAST(N'2018-01-15' AS Date))
INSERT [dbo].[Client] ([ID], [LastName], [FirstName], [Patronymic], [GenderCode], [Phone], [Photo], [DateOfBirth], [Email], [DateRegister]) VALUES (100, N'Большаков', N'Вадим', N'Данилович', N'м', N'7(386)641-13-37 ', N'Клиенты\m97.jpg', CAST(N'1970-05-15' AS Date), N'uncle@gmail.com', CAST(N'2018-08-04' AS Date))
GO

In [0]:
SET IDENTITY_INSERT [dbo].[Client] OFF
GO

# [dbo].[ClientService]

In [0]:
SET IDENTITY_INSERT [dbo].[ClientService] ON 
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (101, 57, CAST(N'2019-10-21T19:10:00' AS SmallDateTime), 10)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (102, 12, CAST(N'2019-08-19T17:10:00' AS SmallDateTime), 9)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (103, 39, CAST(N'2019-03-04T14:20:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (104, 81, CAST(N'2019-06-07T08:50:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (105, 57, CAST(N'2019-08-25T19:50:00' AS SmallDateTime), 40)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (106, 29, CAST(N'2019-12-25T08:00:00' AS SmallDateTime), 9)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (107, 69, CAST(N'2019-01-01T08:50:00' AS SmallDateTime), 28)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (108, 77, CAST(N'2019-10-17T17:50:00' AS SmallDateTime), 1)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (109, 38, CAST(N'2019-01-17T18:00:00' AS SmallDateTime), 6)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (110, 31, CAST(N'2019-09-11T13:10:00' AS SmallDateTime), 9)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (111, 87, CAST(N'2019-10-02T19:10:00' AS SmallDateTime), 48)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (112, 47, CAST(N'2019-03-28T09:20:00' AS SmallDateTime), 46)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (113, 57, CAST(N'2019-12-11T09:50:00' AS SmallDateTime), 21)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (114, 37, CAST(N'2019-06-21T11:40:00' AS SmallDateTime), 22)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (115, 12, CAST(N'2019-12-15T10:10:00' AS SmallDateTime), 4)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (116, 29, CAST(N'2019-05-25T19:00:00' AS SmallDateTime), 27)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (117, 6, CAST(N'2019-05-26T08:20:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (118, 20, CAST(N'2019-04-27T13:50:00' AS SmallDateTime), 10)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (119, 15, CAST(N'2019-09-14T16:20:00' AS SmallDateTime), 34)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (120, 6, CAST(N'2019-09-06T12:40:00' AS SmallDateTime), 17)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (121, 54, CAST(N'2019-10-12T19:10:00' AS SmallDateTime), 17)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (122, 31, CAST(N'2019-05-06T16:40:00' AS SmallDateTime), 47)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (123, 69, CAST(N'2019-01-04T18:40:00' AS SmallDateTime), 8)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (124, 47, CAST(N'2019-10-01T12:20:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (125, 25, CAST(N'2019-12-21T19:00:00' AS SmallDateTime), 28)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (126, 75, CAST(N'2019-08-31T11:40:00' AS SmallDateTime), 40)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (127, 15, CAST(N'2019-06-22T16:10:00' AS SmallDateTime), 22)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (128, 86, CAST(N'2019-04-28T08:30:00' AS SmallDateTime), 12)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (129, 5, CAST(N'2019-11-06T11:20:00' AS SmallDateTime), 40)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (130, 34, CAST(N'2019-12-21T13:40:00' AS SmallDateTime), 44)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (131, 32, CAST(N'2019-11-22T10:40:00' AS SmallDateTime), 46)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (132, 17, CAST(N'2019-01-20T09:20:00' AS SmallDateTime), 28)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (133, 56, CAST(N'2019-09-07T18:10:00' AS SmallDateTime), 42)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (134, 39, CAST(N'2019-11-13T09:00:00' AS SmallDateTime), 31)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (135, 58, CAST(N'2019-06-23T09:40:00' AS SmallDateTime), 24)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (136, 79, CAST(N'2019-01-28T15:20:00' AS SmallDateTime), 27)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (137, 10, CAST(N'2019-06-07T19:40:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (138, 81, CAST(N'2019-01-30T10:50:00' AS SmallDateTime), 15)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (139, 56, CAST(N'2019-09-28T18:40:00' AS SmallDateTime), 12)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (140, 17, CAST(N'2019-11-15T17:30:00' AS SmallDateTime), 44)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (141, 47, CAST(N'2019-06-07T12:40:00' AS SmallDateTime), 5)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (142, 34, CAST(N'2019-05-11T14:50:00' AS SmallDateTime), 47)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (143, 69, CAST(N'2019-01-17T16:00:00' AS SmallDateTime), 33)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (144, 9, CAST(N'2019-10-07T14:00:00' AS SmallDateTime), 46)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (145, 86, CAST(N'2019-05-04T16:00:00' AS SmallDateTime), 6)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (146, 90, CAST(N'2019-03-09T16:30:00' AS SmallDateTime), 13)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (147, 85, CAST(N'2019-09-11T14:40:00' AS SmallDateTime), 35)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (148, 53, CAST(N'2019-10-02T14:10:00' AS SmallDateTime), 24)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (149, 39, CAST(N'2019-05-31T08:20:00' AS SmallDateTime), 5)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (150, 87, CAST(N'2019-02-01T12:20:00' AS SmallDateTime), 2)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (151, 2, CAST(N'2019-11-09T11:40:00' AS SmallDateTime), 36)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (152, 48, CAST(N'2019-01-17T11:00:00' AS SmallDateTime), 30)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (153, 58, CAST(N'2019-02-11T09:10:00' AS SmallDateTime), 16)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (154, 25, CAST(N'2019-12-20T13:30:00' AS SmallDateTime), 6)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (155, 69, CAST(N'2019-05-29T14:00:00' AS SmallDateTime), 19)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (156, 53, CAST(N'2019-03-23T08:30:00' AS SmallDateTime), 30)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (157, 79, CAST(N'2019-05-22T15:50:00' AS SmallDateTime), 22)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (158, 96, CAST(N'2019-03-01T15:00:00' AS SmallDateTime), 12)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (159, 25, CAST(N'2019-02-13T09:00:00' AS SmallDateTime), 43)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (160, 20, CAST(N'2019-08-04T12:30:00' AS SmallDateTime), 14)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (161, 87, CAST(N'2019-02-26T15:40:00' AS SmallDateTime), 3)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (162, 39, CAST(N'2019-12-09T09:00:00' AS SmallDateTime), 11)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (163, 31, CAST(N'2019-03-19T12:30:00' AS SmallDateTime), 31)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (164, 38, CAST(N'2019-01-11T19:10:00' AS SmallDateTime), 18)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (165, 10, CAST(N'2019-12-23T17:00:00' AS SmallDateTime), 2)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (166, 9, CAST(N'2019-12-18T16:30:00' AS SmallDateTime), 41)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (167, 86, CAST(N'2019-03-21T11:50:00' AS SmallDateTime), 25)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (168, 39, CAST(N'2019-07-30T11:20:00' AS SmallDateTime), 27)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (169, 81, CAST(N'2019-06-26T19:30:00' AS SmallDateTime), 33)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (170, 96, CAST(N'2019-11-04T12:30:00' AS SmallDateTime), 40)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (171, 32, CAST(N'2019-01-27T12:50:00' AS SmallDateTime), 30)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (172, 17, CAST(N'2019-06-24T16:40:00' AS SmallDateTime), 17)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (173, 57, CAST(N'2019-05-19T08:00:00' AS SmallDateTime), 20)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (174, 87, CAST(N'2019-06-17T10:20:00' AS SmallDateTime), 2)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (175, 6, CAST(N'2019-03-01T16:00:00' AS SmallDateTime), 22)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (176, 85, CAST(N'2019-01-27T08:10:00' AS SmallDateTime), 38)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (177, 21, CAST(N'2019-01-19T13:50:00' AS SmallDateTime), 23)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (178, 95, CAST(N'2019-11-29T14:00:00' AS SmallDateTime), 47)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (179, 98, CAST(N'2019-07-23T13:30:00' AS SmallDateTime), 32)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (180, 48, CAST(N'2019-09-13T11:50:00' AS SmallDateTime), 30)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (181, 25, CAST(N'2019-04-29T16:10:00' AS SmallDateTime), 43)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (182, 85, CAST(N'2019-11-13T11:00:00' AS SmallDateTime), 49)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (183, 53, CAST(N'2019-01-22T14:40:00' AS SmallDateTime), 1)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (184, 58, CAST(N'2019-05-20T14:40:00' AS SmallDateTime), 15)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (185, 23, CAST(N'2019-11-30T19:10:00' AS SmallDateTime), 1)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (186, 54, CAST(N'2019-05-07T15:10:00' AS SmallDateTime), 21)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (187, 86, CAST(N'2019-09-20T11:20:00' AS SmallDateTime), 11)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (188, 10, CAST(N'2019-09-20T17:30:00' AS SmallDateTime), 25)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (189, 85, CAST(N'2019-08-08T18:20:00' AS SmallDateTime), 43)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (190, 75, CAST(N'2019-07-12T16:30:00' AS SmallDateTime), 27)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (191, 45, CAST(N'2019-01-13T18:10:00' AS SmallDateTime), 21)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (192, 79, CAST(N'2019-01-11T16:40:00' AS SmallDateTime), 14)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (193, 81, CAST(N'2019-07-21T14:30:00' AS SmallDateTime), 39)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (194, 47, CAST(N'2019-11-26T11:30:00' AS SmallDateTime), 34)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (195, 95, CAST(N'2019-10-10T08:10:00' AS SmallDateTime), 11)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (196, 86, CAST(N'2019-06-13T15:40:00' AS SmallDateTime), 33)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (197, 89, CAST(N'2019-10-05T13:30:00' AS SmallDateTime), 31)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (198, 25, CAST(N'2019-10-24T15:00:00' AS SmallDateTime), 44)
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (199, 21, CAST(N'2019-06-24T17:40:00' AS SmallDateTime), 43)
GO

In [0]:
INSERT [dbo].[ClientService] ([id], [ClientID], [StartTime], [ServiceID]) VALUES (200, 79, CAST(N'2019-10-31T08:40:00' AS SmallDateTime), 23)
SET IDENTITY_INSERT [dbo].[ClientService] OFF
GO

# [dbo].[Gender]

In [0]:
INSERT [dbo].[Gender] ([ID], [Title]) VALUES (N'ж', N'женский')
INSERT [dbo].[Gender] ([ID], [Title]) VALUES (N'м', N'мужской')
GO

# [dbo].[Service]

In [0]:
SET IDENTITY_INSERT [dbo].[Service] ON 
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (1, N'Снятие лака', 2100, 1240, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (2, N'Наращивание ногтей гелем', 2400, 1540, 10)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (3, N'Ультразвуковой пилинг', 2700, 1440, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (4, N'Спортивный массаж', 1800, 1650, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (5, N'Массаж ЖИВА', 3300, 2330, 25)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (6, N'Комбинированный маникюр', 3600, 2390, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (7, N'Урок в группе испанского языка для школьников', 7200, 1910, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (8, N'Стрижка челки', 2100, 1930, 10)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (9, N'Озонотерапия', 2100, 1740, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (10, N'Оформление бровей', 2100, 2280, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (11, N'Окрашивание бровей', 3600, 1120, 10)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (12, N'Моментальный лифтинг', 3000, 2020, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (13, N'Гавайский массаж Ломи-Ломи', 2100, 1040, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (14, N'Депиляция воском', 1800, 2330, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (15, N'Покрытие ногтей', 2400, 2410, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (16, N'Полировка с маслом', 1200, 1280, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (17, N'Художественное оформление ресниц', 3000, 2040, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (18, N'Классический маникюр', 3300, 1680, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (19, N'Лечебное покрытие ногтей', 1800, 1220, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (20, N'Татуаж', 3600, 1330, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (21, N'Инъекционные методики', 2400, 1660, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (22, N'Эстетическая лазерная шлифовка кожи', 2400, 1750, 25)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (23, N'Мезотерапия', 2400, 2040, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (24, N'Наращивание ресниц кукольного эффекта', 2100, 2120, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (25, N'Детская стрижка', 2100, 2330, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (26, N'Индивидуальный урок китайского языка с преподавателем-носителем языка', 5400, 1480, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (27, N'Наращивание ресниц лисьего эффекта', 1800, 1370, 25)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (28, N'Пирсинг', 3300, 1330, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (29, N'Замена масла в вариаторе', 7200, 4720, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (30, N'Покраска ресниц', 1800, 2400, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (31, N'Микротоковая терапия', 2700, 2410, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (32, N'Европейский маникюр', 3600, 1990, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (33, N'Консультация врача-косметолога', 3600, 2350, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (34, N'Полировка ногтей', 3000, 2310, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (35, N'Декорирование ресниц стразами', 3000, 1920, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (36, N'Химический пилинг', 1500, 1880, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (37, N'Мужская стрижка', 3000, 1690, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (38, N'Укрепление ногтей гелем', 2700, 1260, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (39, N'Стрижка с покраской', 1500, 2300, 10)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (40, N'Прессотерапия', 2400, 2350, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (41, N'Наращивание ресниц', 2400, 1430, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (42, N'Удаление доброкачественных образований кожи', 900, 1910, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (43, N'Коррекция нарощенных ресниц', 2700, 1310, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (44, N'Фонофорез лица', 1200, 1120, 5)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (45, N'Стрижка бороды машинкой', 2700, 1750, 10)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (46, N'Шугаринг', 1800, 1400, 0)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (47, N'Реконструкция и лечение волос и кожи головы', 3300, 2360, 15)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (48, N'Макияж', 1800, 2470, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (49, N'ИК-сауна', 2700, 1160, 20)
INSERT [dbo].[Service] ([id], [Title], [TimeSec], [Price], [Discon]) VALUES (50, N'Моделирование ресниц', 2700, 2140, 0)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO

# [FK_Client_Gender]

In [0]:
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Gender] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Gender]
GO

# [FK_ClientService_Client]

In [0]:
ALTER TABLE [dbo].[ClientService]  WITH CHECK ADD  CONSTRAINT [FK_ClientService_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[ClientService] CHECK CONSTRAINT [FK_ClientService_Client]
GO

# [FK_ClientService_Service]

In [0]:
ALTER TABLE [dbo].[ClientService]  WITH CHECK ADD  CONSTRAINT [FK_ClientService_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[ClientService] CHECK CONSTRAINT [FK_ClientService_Service]
GO

# [dbBase]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [dbBase] SET  READ_WRITE 
GO